/******************************************************************
Stylesheet: Typography
******************************************************************/

/*********************
FONT STACKS
*********************/

$sans: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$serif: "Georgia", Cambria, Times New Roman, Times, serif;
