/******************************************************************
Stylesheet: Desktop Stylesheet

Fixed 1000px wide

******************************************************************/

html {
  // font-size: 1em; // 1em = 16px; Adjust if you want a different baseline.
}

/*********************
LAYOUT & GRID STYLES
*********************/

body {
  // Grid
  // display: grid;
  // grid-template-areas:
  //     "header header header"
  //     "aside main main"
  //     ". footer footer";

  // grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto 0 auto;
  width: 1000px;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
  // the ul element
  max-width: 970px;
}

/*********************
GLOBAL STYLES
*********************/
#main {
  width: 1000px;

  .page,
  .post {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'left right';
    margin: 0 100px;

    .article-header {
      grid-area: left;
      padding-right: 50px;
      height: 100%; // removed messing with mobile vh setting
      justify-content: flex-start;
      padding-top: 30vh;

      .sticky {
        position: sticky;
        top: 100px;
      }

      p {
        font-size: 0.9em;
      }
    }
  }

  .entry-content {
    grid: right;
    //margin-top: 100vh;
    padding: 0 0 0 50px;

    .featured-image {
      height: calc(100vh - 52px);
      margin-top: 17vh;

      label {
        position: sticky;
        top: 0;
      }

      /* Hide the toggle checkbox */
      #expand-toggle {
        display: none;
        cursor: zoom-in;
      }
      #expand-image {
        cursor: zoom-in;
        display: inline-block;
      }
      #expand-toggle:checked ~ #expand-image img {
        transform: scale(2) translateX(-75px);
        transition-duration: 0.5s;
        cursor: zoom-out;
        display: inline-block;
      }
    }
    .wp-block-image {
      margin: 30px 0;
    }
  }
  .article-footer {
    max-width: 1000px;
    height: 300px;
    margin-left: -100px;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

/* Guten */
.wp-block-media-text {
  display: grid;
}
.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
  width: 100%;
  margin-left: 0;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
  margin-top: 200px;
}

.inner-sidebar {
  position: sticky;
  top: 0;
}

/* --- HOME --- */
.content-title {
  margin-top: calc(100vh - 62px);
}

/* --- 404 --- */

#main #post-not-found {
  .article-header {
    margin-left: 50px;
  }
}

/* --- PAGE: LOGO ANIMATION ---*/
.featured-video {
  height: calc(100vh - 60px);
}
.featured-video > video {
  width: 500px;
  margin-left: auto;
  position: sticky;
  top: 0;
}

/* --- CASE STUDIES --- */
.page-template-page-case-studies {
  #main .featured-image {
    height: auto;
  }
}

/* --- PAYMENT --- */
.payment {
  padding-top: 30vh;
}

/* --- PAGE: RATE CARD --- */
.page-template-page-rate-card {
  #main .page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'full';
    margin: 0 100px;

    .article-header {
      grid-area: full;
      height: 100%; // removed messing with mobile vh setting
      justify-content: flex-start;
      padding: 100px 50px 0;

      .sticky {
        position: sticky;
        top: 100px;
      }

      p {
        font-size: 0.9em;
      }
    }

    .wp-block-column h3 {
      position: sticky;
      top: 30px;
    }
  }

  // The contact page is using the rate card template.
  // It's probably better to rename the template to a
  // more generic 'full width' description.
  &.contact {
    height: 100vh;
    #content {
      height: auto;
      .article-header {
        padding-top: 38vh;
      }
    }
    .footer {
      display: none;
    }
  }
}
