/******************************************************************
Stylesheet: Desktop Stylesheet

Fixed 1000px wide

******************************************************************/

html {
    // font-size: 1em; // 1em = 16px; Adjust if you want a different baseline.
}

/*********************
LAYOUT & GRID STYLES
*********************/


body {
    // Grid
    // display: grid;
    // grid-template-areas: 
    //     "header header header"
    //     "aside main main"
    //     ". footer footer";
        
    // grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto 0 auto;
    width: 1000px;
}

/*********************
NAVIGATION STYLES
*********************/

.nav { // the ul element
    max-width: 970px;
}


/*********************
GLOBAL STYLES
*********************/
#main {
    width: 1000px;

    .page, .post {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'left right';
        margin: 0 100px;
    
        
        .article-header { 
            grid-area: left; 
            padding-right: 50px;
            height: 100%; // removed messing with mobile vh setting
            justify-content: flex-start;
            padding-top: 30vh;
    
            .sticky { 
                position: sticky;            
                top: 100px;
            }
           
            p { font-size: .9em; }
        }
    }
    
    .entry-content { 
        grid: right; 
        //margin-top: 100vh;
        padding: 0 0 0 50px;
        .featured-image {
            height: calc( 100vh - 52px );
            padding-top: 17vh;

            /* Hide the toggle checkbox */
            #expand-toggle {
                display: none;
                cursor: zoom-in;
            }
            #expand-image {
                cursor: zoom-in;
                display: inline-block;
            }
            #expand-toggle:checked ~ #expand-image img {
                transform: scale(2) translateX(-75px);
                transition-duration:.5s;
                cursor: zoom-out;
                display: inline-block;
            }
            

        }
        .wp-block-image {
            margin: 30px 0;
        }
    }
    .article-footer {
        max-width: 1000px;
        height: 300px;
        margin-left: -100px;
    }  
}

/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
    margin-top: 200px;
}

.inner-sidebar {
    position: sticky;
    top: 0;
}

/* --- 404 --- */

#main #post-not-found {

    .article-header {
        margin-left: 50px;
    }

}

/* --- PAGE: LOGO ANIMATION ---*/
.featured-video {
    height: calc( 100vh - 60px );
}
.featured-video > video {
    width: 500px;
    margin-left: auto;
    position: sticky;
    top: 0;

}